include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include foundation_formtags/templates *
recursive-include foundation_formtags/templatetags *
recursive-include foundation_formtags/tests *
recursive-include docs *.rst conf.py Makefile make.bat
